<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Personal Portfolio for April Auger, Web Developer & Graphic Designer">
	<meta name="keywords" content="april auger, web developer, graphic designer">
	<meta name="author" content="April Auger">
	<title>Personal Portfolio for April Auger, Web Developer & Graphic Designer</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Custom styles -->
	<link href="/assets/css/style.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,700" rel="stylesheet">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
			<div class="container">

				<a class="navbar-brand" href="/" aria-label="Main Menu">
					<img src="/assets/img/logo.png" class="logo" src="" alt="April Auger">
				</a><!-- .navbar-brand -->

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
					aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="main-nav" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/#skills" title="Skills">Skills</a></li>
						<li class="nav-item"><a class="nav-link" href="/#about" title="Home">About</a></li>
						<li class="nav-item"><a class="nav-link" href="/#portfolio" title="Portfolio">Portfolio</a></li>
						<li class="nav-item"><a class="nav-link" href="/#contact" title="Contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>