<% include header %>

<main role="main">

	<!-- Jumbotron -->
	<div class="jumbotron"
		style="background-image: url(https://sitepioneers.github.io/portfolio/assets/img/laptop.jpg)">
		<!-- <div class="top-right" style="border-left-width: 1819px; border-top-width: 80px;"></div> -->
		<div class="container">
			<div class="jumbotron-content"">
				<div class="signature"><img alt="Signature"
						src="https://sitepioneers.github.io/portfolio/assets/img/signature.png" /></div>
				<h1 class="jumbotron-sub-title"><%= subtitle %></h1>
				<p><a class="btn btn-primary jumbotron-btn" href="https://sitepioneers.github.io/portfolio/#portfolio"
						role="button">View My Work</a></p>
			</div>
		</div>
	</div>

	<!-- Skills -->
	<div id="skills" class="container section">
		<div class="row">
			<div class="col-md-12">
				<div class="section-hdr">
					<h2>Skills</h2>
				</div>
			</div><!-- .col-md-12 -->
		</div><!-- .row -->

		<div class="svg-row row text-center">
			<div class="col-sm-3 col-md-3">
				<div class="svg-col">
					<div class="svg"><img src="https://sitepioneers.github.io/portfolio/assets/img/frontend.svg"
							alt="Front-End Development"></div>
					<h3>Front-End Development</h3>
					<p>HTML, CSS, JavaScript, SASS, Bootstrap</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="svg-col">
					<div class="svg"><img src="https://sitepioneers.github.io/portfolio/assets/img/backend.svg"
							alt="Back-End Development"></div>
					<h3>Back-End Development</h3>
					<p>Apache, Node.js, PHP, MySQL, Git</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="svg-col">
					<div class="svg"><img src="https://sitepioneers.github.io/portfolio/assets/img/cms-development.svg"
							alt="Graphic Design"></div>
					<h3>Content Management Systems</h3>
					<p>Drupal, WordPress</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="svg-col">
					<div class="svg"><img src="https://sitepioneers.github.io/portfolio/assets/img/design.svg"
							alt="Graphic Design"></div>
					<h3>Graphic Design</h3>
					<p>Photoshop, InDesign, Illustrator, XD</p>
				</div>
			</div>
		</div><!-- .row -->
	</div> <!-- .container-fluid -->

	<!-- About -->
	<div id="about" class="section-content">
		<div class="container-fluid">
			<div class="row equal-height-cols skew-forward">
				<div class="col-lg-4 no-skew bkg-img">
					<img class="about-image" src="https://sitepioneers.github.io/portfolio/assets/img/april-auger.jpg"
						title="April Auger">
				</div>
				<div class="col-lg-4 skew blue-bkg">
					<div class="text">
						<div class="section-hdr color">
							<h2>About</h2>
						</div>

						<div class="section-description">Hello and welcome to my personal portfolio! I’m a Web
						Developer and Graphic Designer located in Sacramento, California. I have 17+ years experience designing,
						developing, and maintaining websites; and creating corporate marketing materials. I am employed by a local
						nonprofit organization and I freelance on the side. My abilities include a wide range of knowledge in the
						web development and graphic design fields. I enjoy what I do and feel very fortunate to be in a field where
						I can help others achieve their business goals.
						</div>
					</div>
					<!--text-->
				</div><!-- col-md-4 -->
				<div class="col-lg-4 skew med-blue-bkg">
					<div class="text">
						<div class="section-hdr color">
							<h2>Personal Facts</h2>
							<ul>
								<li>I have a passion for fitness.</li>
								<li>I like to eat healthy.</li>
								<li>I am a bit of a perfectionist.</li>
								<li>I am ambitious and goal driven.</li>
								<li>I enjoying reading and learning.</li>
								<li>I don't like to cook.</li>
								<li>I have one child and I'm very proud of him.</li>
								<li>I enjoy spending time with friends.</li>
								<li>I love my career.</li>
							</ul>
						</div>
					</div>
					<!--text-->
				</div><!-- col-md-4 -->
			</div><!-- .row-->
		</div><!-- .container-fluid -->
	</div><!-- #about -->

	<!-- Experience -->
	<div id="experience" class="section-content">
		<div class="container-fluid gray-bkg">
			<div class="container section">
				<div class="row">
					<div class="col-md-12">
						<div class="section-hdr">
							<h2>Experience & Education</h2>
						</div>
					</div><!-- .col-md-12 -->
				</div><!-- .row -->
				<div class="row">
					<div class="col-md-6">
						<h3>Experience</h3>
						<div>
							<h4 class="title">Roman Catholic Diocese (1999 - Present)</h4>
							<div class="return">Database Administrator & Web Developer</div>
						</div>
						<div>
							<h4 class="title">Self-Employed (2010 - Present)</h4>
							<div class="return">Web Developer &amp; Graphic Designer</div>
						</div>
					</div>
					<div class="col-md-6">
						<h3>Education</h3>
						<div>
							<h4 class="title">Bachelor of Science in Web Development (Expected 2020)</h4>
							<div class="return">Bellevue University</div>
						</div>
						<div>
							<h4 class="title">Associate of Computer Information Science</h4>
							<div class="return">Sacramento City College</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- .container-fluid -->
	</div><!-- #experience -->

	<!-- Portfolio -->
	<div id="portfolio" class="container section portfolio">
		<div class="row">
			<div class="col-md-12">
				<div class="section-hdr">
					<h2>Portfolio</h2>
				</div>
			</div><!-- .col-md-12 -->
		</div><!-- .row -->

		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<a href="https://sitepioneers.github.io/bioSite/" title="Bio Site">
						<img alt="Bio Site" data-src="https://sitepioneers.github.io/portfolio/assets/img/bioSite.jpg"
							class="card-img-top" src="https://sitepioneers.github.io/portfolio/assets/img/bioSite.jpg" title="Bio Site" />
						<div class="card-body white">
							<h3>Bio Site</h3>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<a href="https://sitepioneers.github.io/portfolio/assets/img/bioSite-prototype.jpg"
						title="Bio Site Prototype">
						<img alt="Bio Site Prototype"
							data-src="https://sitepioneers.github.io/portfolio/assets/img/prototype-thumbnail.jpg"
							class="card-img-top"
							src="https://sitepioneers.github.io/portfolio/assets/img/prototype-thumbnail.jpg"
							title="Bio Site Prototype" />
						<div class="card-body white">
							<h3>Bio Site Prototype</h3>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<a href="https://github.com/sitepioneers/web-231" title="Web 231 Repository">
						<img alt="Web 231 Repository"
							data-src="https://sitepioneers.github.io/portfolio/assets/img/github-thumbnail.jpg"
							class="card-img-top"
							src="https://sitepioneers.github.io/portfolio/assets/img/github-thumbnail.jpg"
							title="Web 231 Repository" />
						<div class="card-body white">
							<h3>Web 231 Repository</h3>
						</div>
					</a>
				</div>
			</div>
		</div><!-- .row -->

		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<a href="https://sitepioneers.github.io/portfolio/assets/img/portfolio-prototype.jpg"
						title="Portfolio Prototype">
						<img alt="Portfolio Prototype"
							data-src="https://sitepioneers.github.io/portfolio/assets/img/prototype-thumbnail.jpg"
							class="card-img-top"
							src="https://sitepioneers.github.io/portfolio/assets/img/prototype-thumbnail.jpg"
							title="Personal Portfolio Prototype" />
						<div class="card-body white">
							<h3>Portfolio Prototype</h3>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<a href="https://github.com/sitepioneers/web-330" title="Web 330 Repository">
						<img alt="Web 330 Repository"
							data-src="https://sitepioneers.github.io/portfolio/assets/img/github-thumbnail.jpg"
							class="card-img-top"
							src="https://sitepioneers.github.io/portfolio/assets/img/github-thumbnail.jpg"
							title="Web 330 Repository" />
						<div class="card-body white">
							<h3>Web 330 Repository</h3>
						</div>
					</a>
				</div>
			</div>
		</div><!-- .row -->
	</div> <!-- #portfolio -->

	<!-- Contact -->
	<div id="contact" class="container-fluid section background-image"
		style="background-image: url(https://sitepioneers.github.io/portfolio/assets/img/contact.jpg); position:relative">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 left zindex">
					<div class="section-hdr color">
						<h2>Contact</h2>
						<p>I would love to hear from you!</p>
						<div><span class="bold">Phone:</span> (916) 544-0622</div>
							<p><span class="bold">Email:</span> <a href="mailto:aauger@my365.bellevue.edu" title="April Auger">aauger@my365.bellevue.edu</a></p>
					</div>
				</div><!-- .col-md-6 -->

				<div class="col-md-6 right zindex">
					<form id="contact-form" method="post" action="https://formspree.io/april@sitepioneers.com">
							<label for="name">Name</label>
							<input type="text" id="name" name="name" class="form-control" placeholder="Your Full Name" required>
							<label for="email">Email</label>
							<input type="email" id="email" name="email" class="form-control" placeholder="Your email (name@domain.com)">
							<label for="message">Message</label>
							<textarea id="message" name="message" class="form-control" placeholder="Your Message"></textarea>
						<button type="submit" class="btn btn-primary">Send</button>
					</form>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- #contact -->
</main>

<% include footer %>